@charset "UTF-8";

/* ヘッダーの高さ分のページ内リンク調整 */
.ptop {
	padding-top: 142px;
}

.pbottom {
	margin-bottom: -142px;
}

/* 点線のスタイル */
hr.dotted {
	border: none;
	border-top: 4px dashed #000;
}

/* ボタングループのサイズを統一 */
.btn-group a {
	width: 30px;
	/* ボタンの幅を統一 */
	text-align: center;
	/* テキストを中央揃え */
}

/* ポラロイド風 */
.polaroid {
	background-color: white;
	width: 100%;
	/* 幅を広げる */
	/* 白い背景 */
	padding: 20px 20px 40px;
	/* 写真の下に余白を大きく取る */
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
	/* 影 */
	display: inline-block;
	border-radius: 10px;
}

/* 行番号の幅と間隔を詰めるスタイル */
.line-numbers .line-numbers-rows {
	width: 25px;
	/* 行番号の幅を調整 */
}

/* HTML表示領域のスタイル */
pre {
	width: 100%;
	/* preタグの幅を100%に設定 */
	overflow-x: auto;
	/* コードが長い場合の横スクロールを有効にする */
	white-space: pre-wrap;
	/* 長いテキストの折り返し設定 */
	border-radius: 5px;
	/* 角を丸める */
}

/* 初期状態では非表示 */
#readonlyText {
	display: none;
}

/* 背景色を変更するコードブロックのスタイル */
pre[class*="language-"] {
	background-color: #ffffff;
	/* 背景色を変更 */
}
