{% extends 'base.html' %}
{% block htitle %}
  商品登録
{% endblock %}
{% block mtitle %}
  商品登録画面
{% endblock %}
{% block contents %}
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h2 class="mb-4">商品登録</h2>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">登録</button>
            <a class="btn btn-secondary ms-3" href="{% url 'goods_menu' %}">戻る</a>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
